button {
  border: none;
  background: none;
  color: currentColor;
  font-family: unset;
  height: calc(var(--token--box-min-height) * 0.75);
  position: relative;
}

button:before {
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
  content: "";
  display: block;
  border-radius: var(--token--box-radius) var(--token--box-radius) 0 0;
}

:host([selected]) button:before {
  background: var(--token--primary);
}
